body {
    background-color: #20284D;
}

.navbar-nav.left {
    text-align: left;
    margin-left: 10px;
}

@media only screen and (max-width: 990px) {
    .navbar-nav.left {
        text-align: left;
        margin-left: 10px;
        margin-top: 10px;
    }
}

.navbar-nav a {
    color: white;
    text-decoration: none;
}

.navbar-nav .nav-link {
    padding: 0px;
}

.bg-primary {
    background-color: transparent !important;
}

#sideNav {
    /* border: 1px solid salmon; */
}

@media only screen and (max-width: 990px) {
    #sidenav {
        height: 52px;
    }
    .bg-primary {
        background: linear-gradient(90deg, rgba(46, 56, 128, 0.5) 0%, rgba(57, 187, 254, 0.5) 100%);
        box-shadow: 6px 7px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
    }
}

.imgjumbotron {
    background-image: url('../assets/img/video.png');
    color: red;
    height: 100vh;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    background-repeat: no-repeat;
    /*  background-attachment: fixed; */
    background-position: center;
    background-size: cover;
}

.resume-section.fullwidth {
    max-width: 300%;
    padding: 0;
    margin-left: -275px;
}

section.resume-section {
    max-width: 85%;
}

@media only screen and (max-width: 990px) {
    section.resume-section {
        max-width: 100%;
    }
}

.hoverbg {
    width: auto;
    height: 40px;
    left: 10px;
    top: 392px;
    color: #5CD4F0;
    border-radius: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 40px;
    padding-left: 10px;
    /* identical to box height */
}

.hoverbg.active {
    width: auto;
    height: 40px;
    left: 10px;
    top: 392px;
    color: #FFFFFF;
    background: linear-gradient(92.83deg, rgba(104, 77, 216, 0.75) 0%, rgba(23, 235, 177, 0.75) 100%);
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 40px;
    /* identical to box height */
    color: #FFFFFF;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
    padding-left: 10px;
    margin-bottom: 5px;
}

.hoverbg:hover {
    width: 160px;
    height: 40px;
    left: 10px;
    top: 392px;
    color: #FFFFFF;
    background: linear-gradient(92.83deg, rgba(104, 77, 216, 0.75) 0%, rgba(23, 235, 177, 0.75) 100%);
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 40px;
    /* identical to box height */
    color: #FFFFFF;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
    padding-left: 10px;
}

.navbar2 {
    position: fixed;
    width: 99%;
    height: 95px;
    left: 10px;
    top: 10px;
    background: transparent;
    border: 0px solid red;
    z-index: 110;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
}

.navbar2.active {
    /* 
position: relative;
position: fixed;
width: 99%;
height: 95px;
left: 10px;
top: 10px;
background: linear-gradient(90deg, rgba(46, 56, 128, 0.5) 0%, rgba(57, 187, 254, 0.5) 100%);
box-shadow: 6px 7px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;
z-index: 99;
*/
    position: relative;
    position: fixed;
    width: 99%;
    height: 95px;
    left: 10px;
    top: 10px;
    /* background: linear-gradient(90deg, rgba(46, 56, 128, 0.75) 0%, rgba(57, 187, 254, 0.75) 100%); */
    background: linear-gradient(90deg, #2E3880 0%, #2D72A6 100%);
    box-shadow: 6px 7px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    z-index: 99;
}

.loggo {
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    height: 75px;
}

@media only screen and (max-width: 990px) {
    .loggo {
        position: relative;
        margin-top: -7px;
        margin-left: 10px;
        height: 50px;
    }
    .navbar2.active {
        height: 52px;
        background: transparent;
    }
}

.menuheader {
    display: block;
    width: auto;
    padding-left: 10px;
    padding-right: 15px;
    position: relative;
}

.menuheader img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    margin-top: 0;
}

.textmenuheader {
    display: inline-grid;
    height: 32px;
    top: 49px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    color: #FFFFFF;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
}

.neon {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */
    color: #5CD4F0;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
    /* text for 1 milion */
    margin-left: 5px;
}

.neoninfo {
    position: relative;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 50%;
    right: 0rem;
    top: 5px;
    width: 70%;
    position: relative;
    justify-content: right;
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
    .neoninfo {
        right: 10rem;
    }
}

@media only screen and (max-width: 990px) and (orientation: portrait) {
    .neoninfo {
        right: 0rem;
    }
}

.neoninfo2 {
    display: inline-flex;
    text-align: center;
    justify-content: right;
    margin-bottom: 50%;
    margin-right: -30px;
    width: 100%;
    position: absolute;
    top: 30px;
    right: 20px;
}

@media only screen and (max-width: 990px) {
    .neoninfo {
        top: 0px;
    }
    .neoninfo2 {
        display: none;
        text-align: center;
        justify-content: right;
        margin-bottom: 50%;
        margin-right: -30px;
        width: 80%;
        position: absolute;
        top: 5px;
        right: 90px;
    }
}

#registerbtn {
    position: relative;
    width: 131px;
    height: 32px;
    top: -4px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
}

#loginbtn {
    position: relative;
    width: 52px;
    height: 32px;
    top: -3px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    /* identical to box height */
    color: #FFFFFF;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
}

.country2 {
    position: absolute;
    height: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    /* identical to box height */
    text-align: center;
    color: #5CD4F0;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
    margin-left: 47px;
    top: 50px
}


/* custom select language */

.custom-select {
    position: relative;
    width: 214px;
    height: 40px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    background: transparent;
    color: #FFFFFF;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
    margin-left: 20px;
    padding-left: 10px;
    padding-top: 5px;
}

.link {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */
    text-decoration-line: underline;
    color: #5CD4F0;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
}

.link a {
    text-decoration: none;
}

.bghome0 {
    width: 550px;
    height: 400px;
    padding-left: 20px;
    position: relative;
    top: 80px;
}

.bghome {
    width: 400px;
    height: 400px;
    background: rgba(44, 54, 126, 0.85);
    border: 1px solid #684DD8;
    box-sizing: border-box;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    padding-left: 20px;
    position: relative;
}

h2.home1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
}

.centerhome {
    position: relative;
    width: auto;
    justify-content: center;
    top: 28%;
    display: flex;
}


/* Portrait */

@media only screen and (max-width: 1024px) and (orientation: portrait) {
    .centerhome {
        position: relative;
        width: auto;
        justify-content: center;
        top: 15%;
        display: block;
        margin-left: 250px;
    }
}

@media only screen and (max-width: 990px) {
    .centerhome {
        position: relative;
        width: auto;
        justify-content: center;
        top: 15%;
        display: block;
        margin-left: 290px;
    }
}

.button {
    width: 214px;
    height: 40px;
    background: linear-gradient(92.46deg, #F96EC6 0%, #D532A6 100%);
    border-radius: 4px;
    /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    line-height: 14px;
    font-size: 16px;
}

.button.home {
    width: 217px;
    height: 45px;
    /* button_gradient */
    background: linear-gradient(92.46deg, #F96EC6 0%, #D532A6 100%);
    border: 1px solid #9C1167;
    box-sizing: border-box;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    float: none;
    display: block;
}

.rowhome {
    display: inline-flex;
}

.homehr {
    width: 0px;
    height: 60px;
    border: 2px solid #5CD4F0;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
    margin-left: -10px;
}

h1.home1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
    text-transform: capitalize;
    margin-left: -10px;
}

.rowhome p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #B4BDFF;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
}

.inputdata {
    display: inline-block;
    margin-bottom: 40px;
}

.inputdata input {
    width: 75px;
    height: 65px;
    background: #20284D;
    border: 1px solid #684DD8;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #B4BDFF;
    margin-left: 5px;
    margin-right: 5px;
}

.inputbox {
    display: block;
    justify-content: center;
    text-align: center;
}

.inputbox p {
    margin-top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    text-align: center;
    color: #B4BDFF;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
}

.progress {
    position: absolute;
    width: 354px;
    height: 16px;
    background: #20284D;
    border: 1px solid #9A9BD0;
    box-sizing: border-box;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.progress-bar {
    float: left;
    width: 0%;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background: linear-gradient(90.4deg, #C65BE6 0%, #38EEBA 100%);
    border-radius: 8px;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

h3 {
    /* margin-left: 10px; */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    /* identical to box height */
    color: #FFFFFF;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
    text-transform: capitalize;
}

.homenote {
    width: 354px;
    height: 14px;
    display: inline-flex;
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    color: #FFFFFF;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
}

.minnlcc {
    position: absolute;
    top: 0;
    left: 0;
}

.maxnlcc {
    position: absolute;
    top: 0;
    right: 0;
}


/* Tooltip text */

.bghome .tooltiptext {
    top: 0;
    right: 0;
    left: 0;
    visibility: hidden;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: relative;
    z-index: 5;
}

.bghome:hover .tooltiptext {
    visibility: visible;
}

.buycoin {
    width: 202px;
    height: 44px;
    background: linear-gradient(90deg, #38E0CB 0%, #39C8EB 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-left: 99;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 44px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    bottom: 33px;
    left: 115px;
}

.text-center {
    text-align: center;
}

h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
    text-transform: capitalize;
}

hr.new1 {
    width: 343px;
    display: -webkit-inline-box;
    border: 0;
    height: 1px;
    background: linear-gradient(to right, #E874BF, #A462C3);
    height: 3px;
    margin-top: -10px;
    opacity: 1;
}

p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #B4BDFF;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
}


/* Timeline Container */

.timeline {
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    justify-content: center;
}


/* Outer Layer with the timeline border */

.outer {
    border-left: 4px solid #5CD4F0;
    width: 800px;
    margin-left: -64px;
    /* remove last line from 800 tp 700 add height element */
    height: 700px;
}


/* Card container */

.card {
    position: relative;
    margin: 0 0 20px 20px;
    padding: 10px;
    color: gray;
    border-radius: 8px;
    max-width: 400px;
    text-align: left;
    border: 0px;
    background: transparent;
}


/* Information about the timeline */

.info {
    display: flex;
    flex-direction: column;
    gap: 1px;
}


/* Title of the card */

.title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
    position: relative;
}


/* Timeline dot  */

.title::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background: #20284D;
    border-radius: 999px;
    left: -83px;
    border: 3px solid #5CD4F0;
    margin-top: -60px;
}

p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #B4BDFF;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
}

.timeline1 {
    position: absolute;
    display: block;
    font-size: 50px;
    top: -10px;
    left: -43px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    text-align: center;
    color: #B4BDFF;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
}

.timeline2 {
    position: absolute;
    display: block;
    font-size: 50px;
    top: -10px;
    left: -43px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    text-align: center;
    color: #B4BDFF;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
}

.timeline3 {
    position: absolute;
    display: block;
    font-size: 50px;
    top: -10px;
    left: -35px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    color: #B4BDFF;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
}

.flex-container {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    background-color: #3498db;
}

.inner-element {
    width: 100px;
    height: 100px;
    background-color: #f1c40f;
}

.videoright {
    position: absolute;
    width: 549px;
    height: 309px;
    background: #FFFFFF;
    border: 1px solid #684DD8;
    box-sizing: border-box;
    margin-left: 75px;
    margin-top: -40px;
}

.videoright1024 {
    position: absolute;
    width: 402px;
    height: 226px;
    background: #FFFFFF;
    border: 1px solid #684DD8;
    box-sizing: border-box;
    margin-left: -215px;
    margin-top: 60px;
    display: none;
}

@media only screen and (max-width: 1024px) {
    .videoright1024 {
        display: block;
    }
}

@media only screen and (max-width: 1024px) {
    .videoright {
        display: none;
    }
}

.firsttimeline {
    display: block;
}

.firsttimeline p {
    text-align: left;
    width: 320px;
    margin-left: 40px;
}

.tcontent {
    width: 330px;
}

@media only screen and (max-width: 1024px) {
    .tcontent {
        display: none;
    }
}

.tcontent1024 {
    height: 100px;
    display: none;
}

@media only screen and (max-width: 1024px) {
    .tcontent1024 {
        display: block;
    }
    .tcontent1024 p {
        width: 500px;
    }
}